section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.app-icon {
  width: 50px;
  height: 50px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browser */

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.49);
  margin-top: 20px;
  margin-bottom: 20px;
}
